/* gallery.css */
.product {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.product .image {
  position: relative; /* Untuk posisi absolut deskripsi */
  flex: 1 1 calc(33.333% - 30px); /* 3 kolom */
  max-width: calc(33.333% - 30px); /* 3 kolom */
  box-sizing: border-box;
  margin-bottom: 15px;
}

.product .image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.product .image .image-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Transparan hitam */
  color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (max-width: 768px) {
  .product .image {
      flex: 1 1 calc(50% - 30px); /* 2 kolom pada layar lebih kecil */
      max-width: calc(50% - 30px);
  }
}

@media (max-width: 576px) {
  .product .image {
      flex: 1 1 100%; /* 1 kolom pada layar sangat kecil */
      max-width: 100%;
  }
}
